body{
    margin: 0;
    font-family:'Open Sans' ;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0EF09E;
padding: 0 30px;
}
.logo{
    width: 100px;
    
  


}
.menu{
    display: flex;
    gap: 40px;
    right: 5;
}
    
.menu_link{
    text-decoration: none;
    color:grey ;
    font-size: 24px;
   
    padding: 15px 15px;
    border-radius: 5px;
    justify-content: center;

}

.cart_btn{
    display: block;
    width: 80px;
    height: 80px;background-color: #0EF09E;
    border-radius: 50%;
    display: flex;align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 50px;
    right: 50px;
}

.cart_img{
    width: 30px;
}

.banner{
    height: 90vh;
    background-image: url(img/img2-4\ 1.png);
    background-size: cover;
   display: flex;
   justify-content: center;
   align-items: center;
}

.title{
    color: white;
    font-size: 48px;
}
.catalog{
    padding: 100px 80px;
    text-align: center;

}
.catalog_title{
    text-transform: uppercase;
    margin-bottom: 50px;

}
.items{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px
    ;
}
.one_item{
    width: 25%;
    background-color: darkorchid;
    padding: 30px;
    padding-bottom: 30px;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0px 0px 10px 0 black;
    transition: 0.4s all linear;
}

.one_item:hover{
    transform: scale(1.05);
}
.one_item img{
    width: 100%;
}
.name{
    color: white;
    font-size: 24px;

}
.buy{
    text-decoration: none;
    color: black;
    background-color: aquamarine;
    font-size: 20px;
    padding: 5px 35px;
    border-radius: 15px;


}
.search_cnt{
    width: 80%;
    background-color: #0EF09E;
    margin: 0 auto;
    padding: 10px 30px;
    margin-top: 50px;
    border-radius: 15px;
    font-size: 28px;
}
.search_input{
    width: 80%;
    border-radius: 8px 0 0 8px;
    padding: 5px 15px;

}
.search_btn{
    width: 15%;
    padding: 5px 15px;
    border-radius: 0 8px 8px 0;
    background-color: blueviolet;
    color:white;
    font-weight: 700;


}
.insta{


}
    
.img-list{
    gap: 20px;
}
.reviews{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    background-color: blueviolet;


}
.rev_cnt{
    display: flex;
    flex-direction:column ;
    gap: 40px;
    width: 50%;
}
.review{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    background-color:white;
    padding: 20px;
    border-radius: 20px;
    gap: 40px;

}
.review img{
    width: 80px;
}
.text_cnt{
    margin-top: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;

}
.rev_input{
    border-radius: 20px 0 0 20px;
    padding: 15px 20px;
    width: 40%;
    border: 1px solid black;

}
.rev_btn{
    border-radius: 0 20px 20px 0;
    padding: 16px 30px;
    border: none;
    background-color: slateblue;
    color: white;
    transition: 0.3s all ease;
}
.rev_btn:hover{
    background-color: white;
    color: black;
}